{% extends "layout.html" %}
{% block body %}
    <p>Welcome {{ real_name }}! Page: {{ page }}, Pages: {{ total_pages }}, Files: {{ total_files }}, UID: {{ user_id }}</p>

    <p>
        {% for n in range(1, total_pages + 1) %}
        <a href="/?page={{ n }}">{{ n }}</a>
        {% if n < total_pages %} | {% endif %}
        {% endfor %}
    </p>

    <script type="text/javascript">
        $(function() {
            var idInput = $('#imgid');
            var tagInput = $('#tags');
            var form = $('#tag-editor');

            tagInput.tagit({
                availableTags: [{{ tagstring|safe }}],
                singleFieldDelimiter: '|',
                autocomplete: {
                    delay: 0, 
                    minLength: 2
                }
            });

            $('#thumbs').on('click', 'a.edit-tags', function(e) {
                e.preventDefault();
                e.stopPropagation();
                var link = $(this);
                idInput.val(link.data('imgid'));
                tagInput.tagit('removeAll');
                $.each(link.data('tags').split('|'), function(i, item) {
                    tagInput.tagit('createTag', item);
                });
                form.show();
                form.find('.tagit input[type=text]:first').focus();
            });
        });
    </script>
    <form id="tag-editor" action="{{ url_for('update_tags') }}" method="post">
        <input type="hidden" id="imgid" name="imgid" value="0" />
        <input id="tags" name="tags" type="text" value="tag1|tag2" />
        <input type="submit" value="Save" />
    </form>
    <p><a href="{{ url_for('dropbox_unlink') }}" method="post">Unlink</a></p>
    <div id="thumbs">
    {% for image in images %}
        <div>
            <a class="edit-tags" href="/image/{{ image[0] }}" data-imgid="{{ image[0] }}" data-tags="{{ image[4] or "" }}">E</a>
            <a class="view-large" href="/image/{{ image[0] }}"><img src="/static/img/thumbs/{{ image[0] }}.jpg" alt="Added {{ image[3] }}" /></a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
