{% extends "layout.html" %}
{% block body %}
    <p id="status">Page: {{ page }}, Pages: {{ total_pages }}, Files: {{ total_files }}, UID: {{ user_id }} <a href="{{ url_for('dropbox_unlink') }}" method="post">Unlink</a></p>

    <p>
        {% for n in range(1, total_pages + 1) %}
        <a href="/?page={{ n }}">{{ n }}</a>
        {% if n < total_pages %} | {% endif %}
        {% endfor %}
    </p>

    <script type="text/javascript">
        $(function() {
            var idInput = $('#imgid');
            var descriptionInput = $('#description');
            var tagInput = $('#tags');
            var form = $('#tag-editor');
            var statusBar = $('#status');

            tagInput.tagit({
                availableTags: [{{ tagstring|safe }}],
                singleFieldDelimiter: '|',
                autocomplete: {
                    delay: 0, 
                    minLength: 2
                }
            });

            $('#thumbs').on('click', 'a.edit-tags', function(e) {
                e.preventDefault();
                e.stopPropagation();
                var link = $(this);
                idInput.val(link.data('imgid'));
                descriptionInput.val(link.data('description'))
                tagInput.tagit('removeAll');
                $.each(link.data('tags').split('|'), function(i, item) {
                    tagInput.tagit('createTag', item);
                });
                form.show();
                form.find('.tagit input[type=text]:first').focus();
            });

            $.ajax({
                url: '/sync',
                cache: false,
                dataType: 'json'
            }).done(function(data) {
                // TODO: Will this never be called without refreshing the page?
                // status.remove('span.info, span.error');
                if(data.added != 0 || data.deleted != 0)
                    statusBar.append(' &nbsp; <span class="info">UPDATE: ' + data.added + ' files added, ' + data.deleted + ' deleted. <a href="/">Click here to reload</a>.</span>');
            }).fail(function(request, status, error) {
                statusBar.append(' &nbsp; <span class="error">ERROR: ' + error + '</span>');
            });
        });
    </script>
    <form id="tag-editor" action="{{ url_for('update_tags') }}" method="post">
        <input type="hidden" id="imgid" name="imgid" value="0" />
        <input type="hidden" id="page" name="page" value="{{ page }}" />
        <input id="tags" name="tags" type="text" value="" />
        <input id="description" name="description" type="text" value="" />
        <input type="submit" value="Save" />
    </form>
    <div id="thumbs">
    {% for image in images %}
        <div>
            <a class="edit-tags" href="/image/{{ image[0] }}" data-imgid="{{ image[0] }}" data-tags="{{ image[5] or "" }}" data-description="{{ image[4] or "" }}">E</a>
            <a class="view-large" href="/image/{{ image[0] }}"><img src="/static/img/thumbs/{{ image[0] }}.jpg" alt="Added {{ image[3] }}" /></a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
