{% extends "layout.html" %}
{% block body %}

    <p id="auth">User {{ user_id }} - <a href="/" id="sync-now">Sync Now</a> - <a href="{{ url_for('dropbox_unlink') }}" method="post">Unlink from Dropbox and Log Out</a></p>

    <p id="status"></p>

    <p id="paging"></p>

    <script type="text/javascript">

        var Picklr = {
            globals: {
                page: {{ page }},
                tags: [{{ tagstring|safe }}]
            },
            ui: {
                idInput: null,
                descriptionInput: null,
                tagInput: null,
                form: null,
                status: null,
                thumbs: null,
                paging: null,
                syncNow: null
            },
            template: {
                thumb: null,
                status: null,
                paging: null
            },
            load: function(page, callback) {

                $.ajax({
                    url: '/load?page=' + page,
                    cache: false,
                    dataType: 'json'
                }).done(function(data) {
                    // Buffer array to efficiently concatenate output HTML
                    var output = [];
                    // Create the thumbnail display
                    $.each(data.images, function(i, item) {
                        output.push(Picklr.template.thumb(item));
                    });
                    Picklr.ui.thumbs.html(output.join(''));
                    // Empty the output array
                    output.length = 0;
                    // Create the paging nav
                    for(var i = 1; i <= data.total_pages; i ++) 
                        output.push(Picklr.template.paging({ "n": i }));
                    Picklr.ui.paging.html(output.join(''));
                    // Populate the status bar
                    Picklr.ui.status.html(Picklr.template.status(data));
                    // If a callback function has been passed in, call it
                    if(typeof callback === 'function')
                        callback();
                }).fail(function(request, status, error) {
                    Picklr.ui.status.append(' &nbsp; <span class="error">ERROR: ' + error + '</span>');
                });

            },
            sync: function() {

                Picklr.ui.syncNow.html('Syncing...');
                
                $.ajax({
                    url: '/sync',
                    cache: false,
                    dataType: 'json'
                }).done(function(data) {
                    if(data.added != 0 || data.deleted != 0)
                        Picklr.ui.status.remove('span.info, span.error').append(' &nbsp; <span class="info">UPDATE: ' + data.added + ' files added, ' + data.deleted + ' deleted. <a href="/" id="reload">Click here to reload</a>.</span>');
                }).fail(function(request, status, error) {
                    Picklr.ui.status.append(' &nbsp; <span class="error">ERROR: ' + error + '</span>');
                }).always(function() {
                    Picklr.ui.syncNow.html('Sync Now');
                });

            },
            save: function(page) {

                $.ajax({
                    url: '/save',
                    data: Picklr.ui.form.serialize(),
                    cache: false,
                    type: 'POST',
                    dataType: 'json',
                }).done(function(data) {
                    // Add any new tags which were returned to the global tag array
                    Picklr.globals.tags.concat(data.newtags);
                    // Update the data atributes of the edited item
                    var item = $('#i-' + Picklr.ui.idInput.val()).find('a.edit-tags').first();
                    item.data('tags', Picklr.ui.tagInput.val());
                    item.data('description', Picklr.ui.descriptionInput.val());
                }).fail(function(request, status, error) {
                    Picklr.ui.status.append(' &nbsp; <span class="error">ERROR: ' + error + '</span>');
                });

            },
            init: function() {

                Picklr.ui.idInput = $('#imgid');
                Picklr.ui.descriptionInput = $('#description');
                Picklr.ui.tagInput = $('#tags');
                Picklr.ui.form = $('#tag-editor');
                Picklr.ui.status = $('#status');
                Picklr.ui.thumbs = $('#thumbs');
                Picklr.ui.paging = $('#paging');
                Picklr.ui.syncNow = $('#sync-now');

                Picklr.template.thumb = Handlebars.compile($('#thumb-template').html());
                Picklr.template.status = Handlebars.compile($('#status-template').html());
                Picklr.template.paging = Handlebars.compile($('#paging-template').html());

                Picklr.ui.tagInput.tagit({
                    singleFieldDelimiter: '|',
                    autocomplete: {
                        delay: 0, 
                        minLength: 2,
                        source: Picklr.globals.tags
                    }
                });

                Picklr.ui.thumbs.on('click', 'a.edit-tags', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    var link = $(this);
                    Picklr.ui.idInput.val(link.data('imgid'));
                    Picklr.ui.descriptionInput.val(link.data('description'))
                    Picklr.ui.tagInput.tagit('removeAll');
                    $.each(link.data('tags').split('|'), function(i, item) {
                        Picklr.ui.tagInput.tagit('createTag', item);
                    });
                    Picklr.ui.form.show();
                    Picklr.ui.form.find('.tagit input[type=text]:first').focus();
                });

                Picklr.ui.paging.on('click', 'a', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    Picklr.globals.page = $(this).data('page');
                    Picklr.load(Picklr.globals.page);
                });

                Picklr.ui.syncNow.on('click', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    Picklr.sync();
                });

                Picklr.ui.status.on('click', '#reload', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    Picklr.load(Picklr.globals.page);
                });

                Picklr.ui.form.on('submit', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    Picklr.save();
                });

                Picklr.load(Picklr.globals.page, Picklr.sync);

            }
        };

        $(function() {
            
            Picklr.init();

        });

    </script>

    <form id="tag-editor" action="{{ url_for('save') }}" method="post">
        <input type="hidden" id="imgid" name="imgid" value="0" />
        <input type="hidden" id="page" name="page" value="{{ page }}" />
        <input id="tags" name="tags" type="text" value="" />
        <input id="description" name="description" type="text" value="" />
        <input type="submit" value="Save" />
    </form>

    <div id="thumbs" />

    {% raw %}
    <script id="thumb-template" type="text/x-handlebars-template">
        <div id="i-{{ id }}">
            <a class="edit-tags" href="/image/{{ id }}" data-imgid="{{ id }}" data-tags="{{ tags }}" data-description="{{ description }}">E</a>
            <a class="view-large" href="/image/{{ id }}"><img src="/static/img/thumbs/{{ id }}.jpg" alt="Added {{ date_added }}" /></a>
        </div>
    </script>
    <script id="status-template" type="text/x-handlebars-template">
        <span>Page: {{ page }}, Pages: {{ total_pages }}, Files: {{ total_files }}</span>
    </script>
    <script id="paging-template" type="text/x-handlebars-template">
        <a href="/?page={{ n }}" data-page="{{ n }}">{{ n }}</a>
    </script>
    {% endraw %}

{% endblock %}
