{% extends "layout.html" %}
{% block body %}

    <div id="status">
        <span id="status-auth">User {{ user_id }} - <a href="/" id="sync-now">Sync Now</a> - <a href="{{ url_for('dropbox_unlink') }}" method="post">Unlink from Dropbox and Log Out</a></span>
        <span id="status-message"></span>    
    </div>        

    <form id="tag-filter" action="" method="get">
        <input type="text" id="query" name="query" value="" /> 
        <input type="submit" value="Go" class="ui-button ui-widget ui-state-default ui-corner-all" />
    </form>

    <div id="paging">
        <span id="paging-info"></span>
        <span id="paging-prev"></span>
        <span id="paging-pages"></span>
        <span id="paging-next"></span>
    </div>

    <!-- BEGIN METADATA EDIT FORM -->
    <form id="tag-editor" action="{{ url_for('save') }}" method="post">
        <input type="hidden" id="fileid" name="fileid" value="0" />
        <input type="hidden" id="page" name="page" value="{{ page }}" />
        <input id="tags" name="tags" type="text" value="" />
        <div id="tag-editor-controls">
            <input id="description" name="description" type="text" value="" />
            <input type="submit" value="Save" /> 
            <input type="button" id="cancel-edit" value="Cancel" /> 
            <input type="button" id="refetch-thumbnail" value="Re-fetch Thumbnail" />
        </div>
    </form>
    <!-- END METADATA EDIT FORM -->

    <div id="thumbs"></div>

    {% raw %}
    <!-- BEGIN CLIENT TEMPLATES -->
    <script id="thumb-template" type="text/x-handlebars-template">
        <div id="i-{{ id }}">
            <a class="edit-tags" href="/file/{{ id }}" data-fileid="{{ id }}">E</a>
            <a class="view-large" href="/file/{{ id }}" data-fileid="{{ id }}"><img src="/static/img/thumbs/{{ id }}.jpg" /></a>
        </div>
    </script>
    <script id="paging-info-template" type="text/x-handlebars-template">
        <span>Page: {{ currentPage }}, Pages: {{ totalPages }}, Files: {{ totalFiles }}</span>
    </script>
    <script id="paging-prev-template" type="text/x-handlebars-template">
        <span>&laquo; <a{{{ cls }}} href="/{{ n }}" data-page="{{ n }}">Prev</a></span>
    </script>
    <script id="paging-next-template" type="text/x-handlebars-template">
        <span><a{{{ cls }}} href="/{{ n }}" data-page="{{ n }}">Next</a> &raquo;</span>
    </script>
    <script id="paging-pages-template" type="text/x-handlebars-template">
        <a href="/{{ n }}" data-page="{{ n }}">{{ n }}</a>
    </script>
    <script id="viewer-template" type="text/x-handlebars-template">
        <div><img src="https://dl.dropboxusercontent.com/s/{{ path }}" onload="Picklr.imgLoaded(this);" /></div>
    </script>
    <script id="status-message-info-template" type="text/x-handlebars-template">
        <span class="info">INFO: {{{ message }}}</span>
    </script>
    <script id="status-message-error-template" type="text/x-handlebars-template">
        <span class="error">ERROR: {{{ message }}}</span>
    </script>
    <!-- BEGIN CLIENT TEMPLATES -->
    {% endraw %}

{% endblock %}

{% block viewer %}
    
    <div id="overlay"></div>

    <div id="large-image-container">
        <div id="large-image"></div>
        
    </div>

    <div id="viewer-prev"><a href="#">&lt;</a></div>
    <div id="viewer-next"><a href="#">&gt;</a></div>

{% endblock %}