{% extends "layout.html" %}
{% block body %}

    <p id="auth">User {{ user_id }} - <a href="/" id="sync-now">Sync Now</a> - <a href="{{ url_for('dropbox_unlink') }}" method="post">Unlink from Dropbox and Log Out</a></p>

    <p id="status"></p>

    <form id="tag-filter" action="" method="get">
        <input type="text" id="query" name="query" value="" /> 
        <input type="submit" value="Go" />
    </form>

    <p id="paging"></p>

    <!-- BEGIN METADATA EDIT FORM -->
    <form id="tag-editor" action="{{ url_for('save') }}" method="post">
        <input type="hidden" id="fileid" name="fileid" value="0" />
        <input type="hidden" id="page" name="page" value="{{ page }}" />
        <input id="tags" name="tags" type="text" value="" />
        <input id="description" name="description" type="text" value="" />
        <input type="submit" value="Save" /> <input type="button" id="cancel-edit" value="Cancel" />
    </form>
    <!-- END METADATA EDIT FORM -->

    <div id="thumbs" />

    {% raw %}
    <!-- BEGIN CLIENT TEMPLATES -->
    <script id="thumb-template" type="text/x-handlebars-template">
        <div id="i-{{ id }}">
            <a class="edit-tags" href="/file/{{ id }}" data-fileid="{{ id }}" data-tags="{{ tags }}" data-description="{{ description }}">E</a>
            <a class="view-large" href="/file/{{ id }}" data-sharekey="{{ sharekey }}" data-path="{{ path }}"><img src="/static/img/thumbs/{{ id }}.jpg" alt="Added {{ date_added }}" /></a>
        </div>
    </script>
    <script id="status-template" type="text/x-handlebars-template">
        <span>Page: {{ page }}, Pages: {{ total_pages }}, Files: {{ total_files }}</span>
    </script>
    <script id="paging-template" type="text/x-handlebars-template">
        <a href="/{{ n }}" data-page="{{ n }}">{{ n }}</a>
    </script>
    <script id="viewer-template" type="text/x-handlebars-template">
        <div id="large-image-container">
            <div id="large-image">
                <img src="https://dl.dropboxusercontent.com/s/{{ sharekey }}/{{ path }}" /></a>
            </div>
        </div>
    </script>
    <!-- BEGIN CLIENT TEMPLATES -->
    {% endraw %}

{% endblock %}
